/*------------------------------ Navbar */
.logo {
    color: white;
}

.nav-link {
    font-family: 'Mountains of Christmas';
    font-size: x-large;
    color: white;
}

.nav-link:hover {
    color: white;
    font-size: xx-large;
}

/*------------------------------ Section */
/*----- Background Decoration */
.bg-image {
    background: url(../images/home-bg.jpg) no-repeat bottom center fixed;
    background-size: cover;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.bg-image-2 {
    background: url(../images/contact-bg.jpg) no-repeat bottom center fixed;
    background-size: cover;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.bg-color {
    background-color: rgba(0, 0, 0, 0.5);
}

/*----- Hero Content */
.heading {
    font-family: 'Mountains of Christmas', sans-serif;
    color: white;
    border-bottom: 2px solid darkgoldenrod;
}

.hero-text {
    font-family: 'Lora', sans-serif;
    color: white;
    width: 33%;
    font-size: x-large;
}

@media screen and (max-width: 992px) {
    .hero-text {
        width: 75%;
    }
}

/*----- Information */
.card {
    background-color: transparent;
    color: white;
    font-family: 'Lora', sans-serif;
}

.card-title {
    text-decoration: underline;
}

.card-img, .card-img-top {
    border: 1px solid darkgoldenrod;
}

/*----- Google Maps API */
.map-cont {
    height: 50vh;
    width: 100%;
    border: 2px solid darkgoldenrod;
}

#map {
    height: 100%;
}

/*----- EmailJS API */
form {
    font-family: 'Lora', sans-serif;
    color: white;
}


/*--------------------- Footer */
.color-white {
    color: white;
}